body {
    background-color: #222;
}

#my-container { 
    position:relative;
    width:375px;
}

#phone {
    position:relative;
    z-index:-1;
    width: 390px;
    height: 900px;
    background-image: url("./../images/phone.png");
    background-repeat: no-repeat;
    background-size: 390px 900px;
    background-color: white;
}

#twitter-timeline {
    position:absolute;
    top:50px;
    left:20px;
    z-index:0;
}

.video-overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:2;
}
